<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094147250224-gbtj75q592147kvtcmi31bpevldc27mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094147250224-gbtj75q592147kvtcmi31bpevldc27mv</string>
	<key>API_KEY</key>
	<string>AIzaSyDKRgQAanvqlHBB7Akul-2RfMxqpnCmkO4</string>
	<key>GCM_SENDER_ID</key>
	<string>1094147250224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yanik.HBONOWapp</string>
	<key>PROJECT_ID</key>
	<string>hbonowapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hbonowapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094147250224:ios:5d545dbd1fbf8261a335f5</string>
	<key>DATABASE_URL</key>
	<string>https://hbonowapp.firebaseio.com</string>
</dict>
</plist>